.wrapper {
    display: flex;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    :global {
        :where(.css-dev-only-do-not-override-1uweeqc).ant-spin .ant-spin-dot-item {
            background-color: #fe5f1e;
        }
    }
}