@import "./variable";
* {
  box-sizing: border-box;
  font-family: Nunito, Roboto, system-ui, Tahoma, sans-serif;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
}
body {
  background-color: $background;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  border-radius: 10px;
  background: $white;
  max-width: 1500px;
  margin: 40px auto;
  min-height: 880px;

  @media (max-width: 1600px) {
    margin: 40px 45px;
  }
  @media (max-width: 780px) {
    margin: 20px;
  }
}
.container {
  width: 100%;
  padding: 0 42px;
  @media (max-width: 780px) {
    padding: 0 25px;
  }
}
.content {
  padding-bottom: 50px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    @media (max-width: 1260px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
    @media (max-width: 780px) {
      margin-top: 15px;
    }
    @media (max-width: 420px) {
      margin-top: 0;
    }
  }
}
